* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #e3edf7;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    color: #333;
    letter-spacing: 2px;
    margin: -250px 0 120px;
}

.container input {
    width: 0;
    height: 0;
}

.container input::before {
    content: '\f011';
    font-family: "FontAwesome";
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 43px;
    color: #777;
    background: #e3edf7;
    width: 90px;
    transform: translateX(-40px);
    height: 90px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.container input:checked::before {
    color: rgb(19, 190, 233);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}